@import './../../scss/variables.scss';

.contact{
    background: $light-1;
    color: $color-d;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title{
        padding: 50px;
        color: $color-d;
        font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    p{
        font-size: 16px;
        font-weight: 200;
        text-align: center;
    }}
}

.endText{
    width: 400px;
    line-height: 2;
    font-weight: normal;
    text-align: center;
}
.end{
    margin-top: 50px;
}
.proBtn{
    margin-top: 30px;
    padding: 15px 60px;
    background: $color-d;
 }
 .footer{
    margin-top: 100px;  
    width: 100%;
    height: 500px;
    background-color: $color-d;
    color: $dark-1;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        padding: 10px;
    }
 }
.iconsLinks{
    display: flex;
    justify-content: center;
    
}
 .socialIcon{
    color: $dark-1;
    width: 50px;
    height: 50px;
    transition: all ease-in-out 1s;
    cursor: pointer;
    margin: 10px;
    &:hover {
        transform: rotate(360deg);
    }
 }
