@import '../../scss/variables.scss';

.pageTitle{
    border : 1px dashed #fff;
    height: 100px;
    // width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
.pageTitle p {
    font-size: 50px;
    font-weight: bold;
}
