@import './../../scss/variables.scss';

.about{
    display: flex;
    background: $color-d;
    width: 100%;
    padding: 50px;
    flex-direction: column;
    position: relative;
    z-index: -9;
    &-intro{
        display: flex;
        flex-direction: column;
    }
    &-introCard{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 50px;
    }
    &-journey{
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
}

.about-title{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    p{
        font-size: 16px;
        font-weight: 200;
        text-align: center;
    }
}
.about-me {
   
    color : $dark-1;
    text-align: center;
    margin  : 20px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2;
    font-weight: 22px;
}
.about-card{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    text-align: center;

}
.about-icon{
    width: 100px;
    height: 100px;
    color: $dark-1;
}


.journey{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    width: 80%;
    &-box{
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &-head{
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        margin : 2px;
        margin-top: 20px;

    }
    &-body{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
    }
    &-icon{
        width: 50px;
        height: 50px;
        padding: 10px;
    }
}
