$light-1 : #0D2237;
$light-2 : #b3b3b3;

$dark-0:#0D2237;
$dark-1:#0D2237;
$dark-2:#181818;
$dark-3:#404040;

$color-a:#D0E7FE;
$color-b:#FF842B;
$color-c:#2D7BD8; 
$color-d:#D0E7FE; 

$danger  : #E74C3C;
$info : #3498DB;
$sucess : #2ECC71;
$warning : #F1C40F;

