$light-1 : #ffffff;
$light-2 : #b3b3b3;

$dark-0:#0c0c0c;
$dark-1:#121212;
$dark-2:#181818;
$dark-3:#404040;

$color-a:#0D2237;
$color-b:#FF842B;
$color-c:#2D7BD8; 
$color-d:#D0E7FE; 

$danger  : #E74C3C;
$info : #3498DB;
$sucess : #2ECC71;
$warning : #F1C40F;

