$light-1 : #ffffff;
$light-2 : #b3b3b3;

$dark-0:#0c0c0c;
$dark-1:#121212;
$dark-2:#181818;
$dark-3:#404040;

$color-a:#040C18;
$color-b:#3498DB;
$color-c:#C8EBEB;

$danger  : #E74C3C;
$info : #3498DB;
$sucess : #2ECC71;
$warning : #F1C40F;

