@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


*, *::after, *::before{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
html{
    font-family: 'Nunito Sans', sans-serif;
    background: $color-a;
    color: $light-1;
}

h1, h2,h3,h4 {
    color: $light-1;
}
html, body {
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #040c18;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #040c18;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0px;
    border: 0px solid #ffffff;
  }
// App CSS

.app{
    // overflow-y: hidden;
}

.body{
    display: flex;
    flex-direction: row;
    max-width:100%;
}   
.pages {
    width: calc(100vw - 300px);
}